.planet {
	padding: 2rem;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	//min-height: 880px;
	//margin-top: 40px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../public/img/bg-planet.png');

	&--bgCircle {
		width: 618px; // Temp
        height: 618px; // Temp
        margin-bottom: 30px; // Temp
        background-image: url('../../public/img/temp-bg-planet.png');
	}
}