/*  ---------------------------------------------------------------
01.	Base Styles
02.	Structure
03.	Content
    -------------------------------------------------------------*/



/*---------------------------------------------------------------*/
/* 01. Base Styles
/*---------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    position: relative;
	min-width: 320px;
	//min-height: auto;
	//width: 100vw;
    min-height: 100vh;
	background-position: center;
	//background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../public/img/bg.jpg);
	background-color: #130d27;
	color: #FFFFFF;
	font-family: $font-sci-fi;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.4;
	overflow-x: hidden;

	
}

img {
	border: 0;
	max-width: 100%;
}

h1 {
	font-weight: 400;
	font-size: 32px;
	line-height: 120%;
}

h2 {
	font-weight: 400;
	font-size: 22px; // in design 26px
	line-height: 133%; // 35px
}

h3 {
	font-size: 24px;
	line-height: 120%; // 29px
}

// p {
// 	font-size: 16px;
// 	line-height: 160%; // 26px
// }

ul {
	list-style: none;
}

a {
	color: #FFF;
	font-size: 22px;
	line-height: 133%;
	outline: none;
	//text-decoration: none;
}

input,
select {
	width: 100%;
	margin-top: 8px;
	padding: 8px 16px;
	background-color: #F8F9FE;
	border-radius: 8px;
	border: none;
	outline: 0;
}

::-webkit-scrollbar       {background-color:#000;width:7px}
::-webkit-scrollbar-track {background-color:#000}
::-webkit-scrollbar-thumb {background-color:#babac052;border-radius:16px;border:1px solid #081037}



/*---------------------------------------------------------------*/
/* 02. Structure
/*---------------------------------------------------------------*/
.container {
	width: 100%;
	max-width: calc(1830px + 90px);
	margin: 0 auto;
	padding-right: 45px;
	padding-left: 45px;

	&--small {
		max-width: calc(1024px + 48px);
	}
}

  

  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
  }

.overlays {
	//opacity: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(3px);
    z-index: 200;
}

.popUp {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 100%;
	max-width: 868px;
	padding: 60px 40px;
	border-top: 2px solid #A1A8BC;
	border-bottom: 2px solid #A1A8BC;
	background-color: rgba(42, 46, 94, 0.7);
	color: white;
	text-align: center;

	&--connect {
		opacity: 0;
		top: 14%;
		z-index: 100;
	}

	&__close {
		content: url('../public/img/icon-close.png');
		position: absolute;
		top: 36px;
		right: 36px;
		display: block;
		width: 43px;
		min-height: 34px;
		cursor: pointer;
	}

	&__title {
		margin-bottom: 15px;
	}

	&__progressBar {
		display: flex;
		justify-content: center;
		margin-bottom: 24px;
	}

	&__barItem {
		width: 12px;
		height: 6px;
		margin: 0 2px;
		background-color: rgba(22, 16, 41, 0.65);

		&--active {
			background-color: #FFF;
		}
	}

	&__countPlayers {
		margin-bottom: 32px;
		font-weight: 700;
		font-size: 22px;
		line-height: 133%;
	}

	&__players {
		margin-bottom: 40px;
	}

	&__playerName {
		color: #BFC5D9;
		font-size: 20px;
		line-height: 155.5%;
	}

	&__instructions {
		margin: 30px auto;
		padding: 0 0 20px;
		// border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}

	&__leaveBlock {
		position: absolute;
		top: 56px;
		right: 20px;
	}
}

.leaveBlock {
	&__time {
		font-size: 15px;
		line-height: 133%;
	}

	&__closeWrap {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 54px;
		height: 54px;
		margin: 12px auto;
		border-radius: 50px;
		border: 2px solid #9D7C14;
		cursor: pointer;
	}
	
	&__closeBtn {
		width: 16px;
		height: 16px;
		background-color: #FFF;
		clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
	}
	
	&__text {
		font-size: 15px;
		line-height: 133%;
		color: #A1A8BC;
	
		b {color: #FFF;}
	}
}


.btn {
	display: flex;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    min-width: 280px;
    min-height: 60px;
	padding: 5px 10px;
	background-color: rgba(238, 189, 17, 0.52);
	border: 2px solid #FFFEB0;
	color: #FFFEB0;
	font-weight: 400;
    font-size: 24px;
    line-height: 133%; // 40px
	text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    //transition: all 1s ease-out;
	//@include button(-size, -width, -height);

	&:hover {
		border-color: #FFF;
		color: #FFF;
	}

	&--wide {
		width: 100%;
	}

	&--center {
		margin-left: auto;
		margin-right: auto;
	}

	&__iconPlus {
		display: block;
		width: 38px;
		height: 39px;
		margin-inline-end: 16px;
		background-image: url(../public/img/icon-plus.png);
	}

}


.link {
	color: #FFFFFF;
	font-size: 28px;
	line-height: 32px;
	//text-align: center;
	text-decoration: underline;

	&:hover {
		color: #bbb1cd;
		text-shadow: $text-shadow;
	}
}



@media (max-width: 1280px) { //------------------------------------------------------------------------------------ 1280
	// h2 {
	// 	font-size: 26px;
	// }
}


@media (max-width: 768px) { //------------------------------------------------------------------------------------ 768
	.btn {
		max-width: 320px;
		font-size: 20px;
	}
}


@media (max-width: 640px) { //------------------------------------------------------------------------------------ 640
	// h1 {
	// 	font-size: 34px;
	// }
}