.dashboard {
	display: grid;
	grid-template-columns: minmax(250px, 350px) 1fr minmax(250px, 350px);
	grid-template-rows: 720px 60px;
	row-gap: 24px;

	&__left {
		margin-top: 50px;
	}

	&__right {
		margin-top: 50px;
	}
}

.planetsList {
	width: 100%;
	max-width: 350px;
	//min-height: 100px;

	&__title {
		margin-bottom: 15px;
		margin-inline-start: 40px;
	}

	&__list {
		position: relative;
		max-height: 480px;
		//min-height: 80%;
		height: 100%;
		overflow: auto;
		padding: 40px 0 48px;
		background: linear-gradient(120.88deg, rgba(39, 37, 73, 0.46) 17.16%, rgba(39, 37, 73, 0.2) 112.09%);
		border-top: 3px solid #A1A8BC;
		counter-reset: myCounter;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			display: block;
			padding: 3px;
			border: solid #A1A8BC;
			border-width: 0 0 3px 3px;
		}
	}

	&__item {
		display: flex;
		width: 100%;
		margin: 8px 0;
		padding: 4px 40px;
		color: #BFC5D9;
		font-size: 20px;
		line-height: 133%;
		list-style: none;
 
		&:hover {
			color: #FFFFFF;
			cursor: pointer;
		}

		&:before {
			counter-increment: myCounter;
			content:counter(myCounter) ". ";
			margin-inline-end: 8px;
		}

		&--active {
			position: relative;
			background-color: rgba(146, 118, 39, 0.2);
			color: #FFE191;

			&:after {
				content: url('../public/img/arrow-right.svg');
				position: absolute;
				top: 50%;
				right: 15px;
				transform: translate(0, -50%);
				display: block;
				width: 11px;
				min-height: 14px;
			}
		}
	}

	&__text {
		padding: 50px 40px;
		text-align: center;
		font-size: 20px;
	}

	&__link {
		color: #FFE191;
		font-size: 20px;
	}
}

.payMethod {
	width: 100%;
	max-width: 440px;

	&__tabs {
		display: flex;
	}
	
	&__tabName {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 160px;
		height: 36px;
		background-color: rgba(238, 189, 17, 0.2);
		background-repeat: no-repeat;
		color: #9D7C14;
		font-size: 20px;
		line-height: 133%;
		cursor: pointer;
		
		&--active {
			background-color: rgba(238, 189, 17, 0.6);
			color: #FFFEB0;
		}

		&:first-child {
			clip-path: polygon(100% 100%, 0 100%, 0px 0px, 120px 0px);
		}

		&:not(:first-child) {
			clip-path: polygon(100% 100%, 40px 100%, 0 0, 120px 0px);
			transform: translateX(-40px);
			cursor: no-drop; // Temporary
		}
	}

	&__content {
		padding: 55px 40px 35px;
		background: #27254950;
	}

	&__priceRow {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 35px;
	}

	&__price {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 95px;
		height: 38px;
		margin: 0 10px;
		background-color: rgba(39, 37, 73, 0.8);
		color: #BFC5D9;
		text-align: center;
		font-size: 20px;
		line-height: 133%;
		cursor: pointer;

		&--active {
			width: 120px;
			height: 48px;
			background-color: #9d7c14;
			color: #FFFEB0;
			font-weight: 700;
			font-size: 24px;
		}
	}

	&__text {
		color: #BFC5D9;
		text-align: center;
		font-size: 20px;
		line-height: 133%;

		b {
			color: #FFF;
			font-size: 24px;
		}
	}

}



@media (max-width: 1280px) { //------------------------------------------------------------------------------------ 1280
	// .page {
	// 	&__left {width: 260px;}
	// 	&__center {width: calc(100% - 520px);}
	// 	&__right {width: 260px;}
	// }
}


@media (max-width: 768px) { //------------------------------------------------------------------------------------ 768
	// .page {
	// 	flex-wrap: wrap;
	// }
}

@media (max-width: 640px) { //------------------------------------------------------------------------------------ 640
	// .listBlock {
	// 	margin-bottom: 0;
	// }
}