.leaderBoard {
    margin-top: 30px;
    margin-bottom: 50px;

    &__inner {
		position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 50px 20px;
    }

	&__bg {
		z-index: -1;
	}

    &__planet {
        display: flex;
        justify-content: center;
        align-items: center;
    }

	&__planetName {
		position: absolute;
		left: 47%;
		top: 5px;
		color: #FFE191;
		font-weight: 700;
		font-size: 20px;
		line-height: 133%;
	
		span {
			margin-inline-end: 15px;
			color: #FFF;
			font-size: 22px;
		}
	}

	&__share {
		position: absolute;
		right: 12%;
		bottom: -4px;
		display: flex;
		align-items: center;
		color: #FFF;
		// font-weight: 700;
		font-size: 20px;
		line-height: 133%;
		cursor: pointer;

		&::before {
			content: url('../public/img/icon-share.png');
			display: block;
			width: 25px;
			min-height: 28px;
			margin-inline-end: 11px;
		}
	}
}



.statList {
	width: 100%;
	max-width: 650px;

	&__title {
		margin-bottom: 50px;
		margin-inline-start: 95px;
		color: #FFFFFF;
        text-decoration: underline;
	}

	&__list {
		position: relative;
		max-height: 480px;
		height: 100%;
		overflow: auto;
	}

	&__item {
		display: flex;
		width: 100%;
		margin: 8px 0;
		padding: 4px 45px 4px 60px;
		color: #BFC5D9;
		font-size: 20px;
		line-height: 133%;
		list-style: none;
        cursor: pointer;
 
		&:hover {
			color: #FFFFFF;
		}

		&--active {
            clip-path: polygon(100% 50%, 97% 100%, 3% 100%, 0 50%, 3% 0px, 97% 0px);
			background-color: rgba(146, 118, 39, 0.2);
			color: #FFE191;
		}
	}

	&__rank {
		min-width: 25px;
		margin-inline-end: 10px;
	}

	&__nft {
        width: 100%;
        max-width: 250px;
        margin-inline-end: 20px;
	}

	&__score {
		min-width: 100px;
		margin-inline-end: 30px;
	}

    &__price {
        flex-grow: 1;
        text-align: right;
    }

}